<!doctype html>
<html lang="de-DE" ng-app="angularShop">
<head>
    <meta charset="UTF-8">
    <title>Netzkern - Angular.js Demoshop</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

</head>
<body>
<header>
<h1> Ihr Kuchen-Onlineshop! </h1>
<input type="text" ng-model="search" placeholder="Suche..">
</header>
<script></script>
<section class="wrapper">

<!--Warenliste-->
<p ng-show="search" class="margin" >Ihr Suchergebnis: {{search}}</p>
    <table class="table" ng-controller="ArticlesCtrl">
        <tr ng-repeat="article in articles | filter:search">
            <td>{{article.id}}</td>
            <td><a id="infopage" href="products/{{article.id}}">{{article.name}}</a></td>
            <td>{{article.price}}</td>
            <td><a href class="btn-success btn-sm" ng-click="cart.addArticle(article);">Hinzufügen</a></td>

        </tr>
    </table>
    <div ng-controller="CartCtrl" >
        <div ng-hide="cart.getItems().length" class="alert alert-warning">Ihr Warenkorb ist noch leer.</div>
        <div id="success" ng-show="cart.getItems().length" class="alert alert-success">Warenkorb anzeigen/ausblenden</div>

        <!--Ausgabe des Wareninhalts-->
        <table ng-show="cart.getItems().length" class="table" id="cart">
            <tr ng-repeat="item in cart.getItems() track by $index">
                <td>{{item.name}}</td>
                <td>{{item.price | currency}} <a class="btn"  ng-click="cart.removeArticle(article);">Delete</a>
                </td>
            </tr>
            <tr class="currency">
                <td>{{cart.items.length}} Artikel</td>
                <td>{{cart.sum() | currency}}</td>
                <td></td>
            </tr>
        </table>
    </div>

</section>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script type="text/javascript" src="vendor/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="assets/js/app.js"></script>
<script type="text/javascript" src="assets/js/myscripts.js"></script>
</body>
</html>