body{
    background: #9e9e9e;
}

header{
    width: 100%;
    height: 40px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

}

header h1{
    color: #87B32D;
    width: 100%;
    font-size: 25px;
    padding: 5px;
    padding-left: 30px;
}

header input{
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 20px;


}

.wrapper{
    width: 100%;
    position: absolute;
    height: 100%;
    min-height: 800px;
    background: rgba(255, 255, 255, 0.30);

}



@media only screen and (max-width: 560px) {
    header input{
        display: none;
    }

    header h1{
        text-align: center;
    }


}

.margin{
    margin: 5px;
}

tr:hover{
    background: #87B32D;
}

.currency{
    background: rgba(109, 0, 0, 0.64);
}

#cart{
    display: none;
}

#success:hover{
    cursor: pointer;
}

#infopage{
    text-decoration: none;
}

#infopage:hover{
    cursor: pointer;

}

